.header
{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-family: sans-serif;
    font-family: 'Exo 2';
    font-size: 1.5rem;
    font-weight: 700;
}

.header p
{
    font-weight: 400;
}