@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --primary: #334b91;
    --secondary: #c76069;
    --green: #008a64;
    --maroon: #8d2d3a;
    --purple: #66359c;
    --yellow: #d0a617;
    --gray: #bbbbbb;
    --dark: #303030;
}